/*Контейнер*/
.container {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1600px;
    box-sizing: border-box;
}

/*Кнопки*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 91px;
    font-size: 18px;
    border-radius: 18px;
    border: 0;
    text-decoration: none;
    color: #fff;
    background-color: #EF302B;
    transition: background-color .25s ease-out;
    cursor: pointer;
}
.button:hover {
    background-color: #C0231F;
}
.button_lg {
    height: 72px;
    border-radius: 24px;
}

/*Ссылки*/
.link {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.link span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transition: transform .25s ease-out;
}
.link span:hover::after {
    transform: scaleX(0.5);
    transform-origin: bottom left;
}
.section-title {
    font-size: 52px;
    line-height: 110%;
    color: #1E4391;
    margin: 0;
}